{{define "HeaderIcons"}}
<div class="w3-blue">
	<button class="w3-button w3-blue w3-small w3-left" onclick="document.getElementById('sidebar').style.display='block';">&#9776; Filter By Network</button>
	<button class="w3-button w3-blue w3-small w3-right" onclick="document.getElementById('rightsidebar').style.display='block';">Menu &#9776;</button>
	<div class="w3-hide-small w3-hide-medium">
		<center><img src="/images/netmaker2.png" alt="Netmaker Makes Networks"></center>
	</div>
	<div class="w3-hide-large">
	<center><img src="/images/netmaker-small.png" alt="Netmaker Makes Networks"></center>
	</div>
</div>

{{end}}


{{define "Header"}}
{{template "Sidebar" .}}
{{template "Rightsidebar" .}}
{{template "HeaderIcons"}}



<div id="About" class=w3-modal>
    <div class="w3-modal-content w3-card-4 w3-animate-zoom w3-padding" style="width:50%">
	<div class="w3-container w3-center">
	    <h2>An Alternate UI for Netmaker</h2>
	    <a href="https://github.com/gravitl/netmaker",  target='_blank'>github.com/gravitl/netmaker</a>
	    <h3>©2021 Matthew R Kasun</h3>
	    <a href='mailto://mkasun@nusak.ca?subject=netmaker-gui'>mkasun@nusak.ca</a><br>
	    <a href='https://github.com/mattkasun/netmaker-gui' target='_blank'>github.com/mattkasun/netmaker-gui</a>
	    <br><br>
	    <button class="w3-button w3-teal w3-block w3-padding" onclick="document.getElementById('About').style.display='none'">Close</button>
	</div>
    </div>
</div>

<div id="AddUser" class=w3-modal>
    <div class="w3-modal-content w3-card-4 w3-animate-zoom w3-padding" style="width:50%">
	<h1> Create New User</h1>
	<form action="/create_user" method=POST onsubmit="return passVal('pass', 'confirm');">
	    <div class=w3-container>
		<input class="w3-input w3-border" type="text" name="user" placeholder="User Name*" required>
		<input id="pass" class="w3-input w3-border" type="password" name="pass" placeholder="Password*" required>
		<input id="confirm" class="w3-input w3-border" type="password" placeholder="Password Confirmation" required onchange="passVal('pass', 'confirm');">
	    </div>
	    <input id="grantadmincheckbox" class="w3-checkbox" type="checkbox" name="admin" value=true onclick="grantAdmin('grantadmincheckbox', 'netselection');"> Grant Admin Access
	    <div id="netselection" class="w3-container">
		<p>Select Accessible Networks</p>
		{{range .Networks}}
		{{/*<input class"w3-checkbox" type="checkbox" name="network[]" value='{{.NetID}}'>{{.NetID}}*/}}
		<input class="w3-checkbox" type="checkbox" name="network[]" value='{{.NetID}}'>{{.NetID}}<br>

		{{end}}
	    </div>
	    <button class="w3-block w3-blue"  type="submit" >Create User</button>
	</form>
	<button class="w3-block w3-red" onclick="document.getElementById('AddUser').style.display='none';">Cancel</button>

    </div>
</div>

<div id="DeleteUser" class="w3-modal">
    <div class="w3-modal-content w3-card-4 w3-animate-zoom w3-paddign" style="width:50%">
	<div class="w3-container">
	    <h1> Delete User</h1>
	    <form action="/delete_user" method=POST>
		<select class="w3-select w3-border" name="user">
		    {{range .Users}}
		    <option value='{{.UserName}}'>{{.UserName}}<option>
		    {{ end }}
		</select>
		<button type="submit" class="w3-block w3-blue" onclick="return confirm('Are you sure you want to delete this user?');">Delete User</button>
	    </form>
	    <button class="w3-block w3-red" onclick="document.getElementById('DeleteUser').style.display='none';">Cancel</button>
	</div>
    </div>
</div>


{{end}}

{{define "EditUser"}}
<html>
    <head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css" type="text/css">
    </head>

    <body onLoad="document.getElementById('EditUser').style.display='block';">

	{{template "Header"}}
	<div id="EditUser" class="w3-modal">
	    <div class="w3-modal-content w3-card-4 w3-padding" style="width:50%">
		<h2> Updating User {{.UserName}}</h2>
		<form action="/update_user/{{.UserName}}" method=POST>
		    <p><input type=text name=username placeholder="UserName"></p>
		    <p><input id=pass type=password name=password placeholder="Password" required></p>
		    <p><input id=confirm type=password placeholder="Password Confirmation" required  onchange="passVal(pass, confirm);">
		    <button class="w3-block w3-blue"  type="submit" >Update User</button>
		</form>
		<form action="/" method=get>
		    <button class="w3-button w3-block w3-padding w3-red" type=cancel>Cancel</button>
		</form>
	    </div>
	</div>
	{{ template "script" }}
    </body>
</html>

{{end}}
