{{define "layout"}}
<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css" type="text/css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined">
	</head>
	<body onLoad="setUp('{{.Page}}', '{{.Message}}')"> 
		{{template "Header" . }} 
		{{template "buttonbar" . }}
		{{template "Content" . }}
		{{ template "script" }} 
	</body>
</html>
{{end}}

{{define "Content"}}
	<div class="w3-third w3-hide-small w3-hide-medium">
		{{template "SideBarContent" .}}
	</div>
	<div class=w3-twothird>
{{template "Networks" .}}
{{template "Nodes" .}}
{{template "Keys" .}}
{{template "DNS" . }}
{{template "ExtClient" .}}
	</div>
</div>
{{end}}


