{{define "layout"}}
<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css" type="text/css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined">
	</head>
	<body onLoad="setUp('{{.Page}}', '{{.Message}}')"> 
		{{template "Header" . }} 
		{{template "buttonbar" . }}
		{{template "Networks" .}}
		{{template "Nodes" .}}
		{{template "Keys" .}}
		{{template "ExtClient" .}}
		</div>
		{{ template "script" }} 
	</body>
</html>
{{end}}
