{{ define "Nodes" }}
<div style="margin-left:25%">
<div id="Nodes" class="w3-container tab" style="display=none">
			{{range .Nodes}}
			<fieldset class="net {{.Network}}">
			    <legend>{{.Name }}</legend>
			     <label>Public IP</label>
			     <input type="text" placeholder={{.PublicIP}} disabled><br>
			     <label>Subnet</label>
			     <input type="text" placeholder={{.SubNet}} disabled><br>
			    <label>Status: </label><label>Healthy</label><br>
			    <button>Edit</button>
			    <button>Delete</button>
			</fieldset>
			{{end}}
</div>
</div>

{{ end }}
	
